<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Landing Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>{{>header}}</h1>

    <form>
        <input placeholder="Location Name"/>
        <button>Submit</button>
    </form>

    <h2 id="todaysForecast"></h2>
    <p id="weatherLineOne"></p>
    <p id="weatherLineTwo"></p>
    <p id="weatherLineThree"></p>
    <p id="weatherLineFour"></p>
    <p id="weatherLineFive"></p>

    <h2 id="tomorrowsForecast"></h2>
    <p id="weatherLineSix"></p>
    <p id="weatherLineSeven"></p>
    <p id="weatherLineEight"></p>
    <p id="weatherLineNine"></p>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>